if SHIELD_POKOP_LEFT

config ZMK_KEYBOARD_NAME
    default "pokop"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_POKOP_LEFT || SHIELD_POKOP_RIGHT

config ZMK_SPLIT
    default y
   
endif